

<form formGroup="editarForm">
    
    <div  >  
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Nombre</label>
        <input    id="Nombre" name="Nombre" type="text" class="form-control" formControlName="NombreEmpleado">
      </div>
  
      <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Apellido materno</label>
          <input    id="APaterno" name="APaterno" type="text" class="form-control"   formControlName="ApellidoPaternoEmpleado">
        </div>
  
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Apellido Paterno</label>
          <input  id="AMaterno" name="AMaterno" type="text" class="form-control"  formControlName="ApellidoMaternoEmpleado" >
        </div>
  
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">puesto</label>
          <input   id="Puesto" name="Puesto" type="text" class="form-control"  formControlName="PuestoTrabajo">
        </div>
  
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label" >salario</label>
          <input    id="Salario" name="Salario" type="text" class="form-control" formControlName="Salario" >
        </div>
        
        
     
  
  
  <button type="submit" class="btn btn-primary">Guardar</button>
   
      
      
    </div>
    </form>